---
credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              scope: GLOBAL
              id: "sonarqube-token"
              secret: "{{ sonar_token.json.token }}"
              description: "SonarQube Authentication Token"

unclassified:
  sonarGlobalConfiguration:
    buildWrapperEnabled: true
    installations:
      - name: "SonarQube"
        serverUrl: "http://localhost:9000"
        credentialsId: "sonarqube-token"
        serverAuthenticationToken: ""
        mojoVersion: ""
        additionalProperties: ""
        additionalAnalysisProperties: ""
        triggers:
          skipScmCause: false
          skipUpstreamCause: false