---
credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              scope: GLOBAL
              id: "sonarqube-token"
              secret: "{{ created_sonar_token.json.token }}"
              description: "SonarQube Authentication Token"

unclassified:
  sonarGlobalConfiguration:
    buildWrapperEnabled: true
    installations:
      - name: "SonarQube"
        serverUrl: "http://localhost:9000"
        credentialsId: "sonarqube-token"
        triggers:
          skipScmCause: true
          skipUpstreamCause: true

tool:
  sonarRunnerInstallation:
    installations:
    - name: "SonarScanner"
      properties:
      - installSource:
          installers:
          - sonarRunnerInstaller:
              id: "6.2.1.4610"