[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=simple
User=sonarqube
Group=sonarqube
ExecStart=/bin/nohup /usr/bin/java -Xms32m -Xmx32m -Djava.net.preferIPv4Stack=true -jar /opt/sonarqube-{{ sonarqube_version }}/lib/sonar-application-{{ sonarqube_version }}.jar
ExecStop=+/bin/nohup /usr/bin/java -jar /opt/sonarqube-{{ sonarqube_version }}/lib/sonar-shutdowner-{{ sonarqube_version }}.jar
StandardOutput=journal
LimitNOFILE=131072
LimitNPROC=8192
TimeoutStartSec=5
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target